grant
{ permission java.util.PropertyPermission "user.dir", "read";
  permission java.net.SocketPermission "*:1024-65535", "listen,resolve,connect,accept";
  permission java.net.SocketPermission "*:80", "connect";
  permission java.io.FilePermission "/-", "read,write";
  permission java.io.FilePermission "logging.log", "write";
  permission java.io.FilePermission "logging.log.lck", "write";
  permission java.security.AllPermission;
};
